body{
    margin: 0;
    overflow: hidden;
    
}

  .background {
      position: relative;
      height: 100vh;

      /* Purple gradient */
      background: linear-gradient(
        135deg,
        #e0c3fc,
        #8a2be2,
        #4b0082
      );

       display: flex;
  justify-content: center;
  align-items: center;
    }

    /* Each question mark */
    .question {
      position: absolute;
      font-size: 40px;
      font-family: Arial, sans-serif;
      opacity: 0.2;
      user-select: none;

      /* Animation applied */
      animation: float 10s linear infinite;
    }

    /* Animation definition */
    @keyframes float {
      0% {
        transform: translateY(100vh) rotate(0deg);
      }
      100% {
        transform: translateY(-10vh) rotate(360deg);
      }
    }

.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 300px;
    width: 300px;
    
}

.timer{
    padding: 5px;
}





.styled {
   
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background: linear-gradient(
        135deg,
        #e0c3fc,
        #8a2be2,
        #4b0082
      );
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.styled:hover {
  background-color: violet;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

.hidden{
     display: none;
}


p{
   text-align: center;
    color: black;
    font-size: 50px;
    

}